body {
  background-image: url(../img/cartographer.png);
  background-color: #e0a28b;
  font-family: 'Quicksand', sans-serif;
}

.card {
  margin-top: 30vh;
  background: rgba(253,245,230, 0.3);
  border-radius: 6px;
}

h1 {
  font-weight: 500;
}

button {
  margin-left: 20px;
}

#result {
  display: none;
  margin-top: 4px;
}

.badge{
  font-size: 16px;
  font-weight: 300;
  margin-left: 2px;
  margin-right: 2px;
}
